DATABASE_URL="postgresql://postgres:your_password@postgres:5432/pixelfit"
DB_POSTGRES="pixelfit"
USER_POSTGRES="postgres"
PASSWORD_POSTGRES="your_password"


SECRET_KEY="enter_here"  #generate by running "openssl rand -hex 32" in the terminal
ALGORITHM="HS256"


LLM_API_KEY="enter_your_own_here"